
.grid-item {
    float: left;
    width: 4.85%;
    padding-bottom: 4.85%;
    background-color: #c3d7f7;
    margin: 0.2%;
}

    .grid-item.usedSpace {
        background-color: #993300;
    }

    .grid-item:hover {
        background-color: #4e91fc;
        cursor: pointer;
    }

.availableTowers {
    margin-top: 40px;
    color: #006622;
    margin-bottom: 15px;
    margin-left: 0.2%;
}