textarea.note-text {
    margin-top: 20px;
    font-size: 18px;
    height: 150px;
    resize: none;
}

.createNoteButton, .editNoteButton, .cancelButton {
    margin-top: 10px;
    margin-right: 10px;
}

.note {
    background-color: #d8e6f3;
    height: 250px;
    padding: 10px;
    margin-bottom: 20px;
    border: 3px solid #76a7d5;
    border-radius: 10px;
    overflow-y: auto;
    -webkit-box-shadow: -11px 10px 24px -7px rgba(30,65,98,1);
    -moz-box-shadow: -11px 10px 24px -7px rgba(30,65,98,1);
    box-shadow: -11px 10px 24px -7px rgba(30,65,98,1);
}

.editNote i {
    opacity: 0.4;
    font-size: 18px;
    transform: rotate(275deg);
}

    .editNote i:hover {
        opacity: 0.65;
        cursor: pointer;
    }